
.template {
  .sectionA {
    .billboard {

      ::after {
        content: "";
        background: url(/assets/img/ux-notebook.jpg);
        opacity: 0.5;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;
      }
    }
  }
}
