<div class="info">

    <div class="row">
        <div class="span12 columns">
            <div class="hero dark">
                <h3 class="headline">From Design To Development</h3>
                <h4 class="sub-headline">We focus on building a successful customer development model, then aligning the product development strategy. Our commitment is to
                    deliver exceptional products that solve validated customer problems and provide optimum value to aligned company goals.</h4>
            </div>
        </div>
    </div>

    <!--<h4 class="title">From Design To Development</h4>-->
    <!--<p class="desc">We focus on building a successful customer development model, then aligning the product development strategy. Our commitment is to-->
        <!--deliver exceptional products that solve validated customer problems and provide optimum value to aligned company goals.</p>-->

    <div class="row">
        <div class="large-3 medium-3 columns left">
            <h4 class="header">Lead</h4>
            <ul>
                <li>Product Management</li>
                <li>Customer Partnership</li>
                <li>Ideation and Discovery</li>
                <li>Team Collaboration</li>
            </ul>
        </div>
        <div class="large-3 medium-3 columns left">
            <h4 class="header">Innovate</h4>
            <ul>
                <li>User-Centered Design Strategy</li>
                <li>Incremental and Iterative Engineering</li>
                <li>Agile Development Methodology</li>
            </ul>
        </div>
        <div class="large-3 medium-3 columns left">
            <h4 class="header">Design</h4>
            <ul>
                <li>UI/UX Research</li>
                <li>UI/UX Design</li>
            </ul>
        </div>
        <div class="large-3 medium-3 columns left">
            <h4 class="header">Develop</h4>
            <ul>
                <li>E-Commerce</li>
                <li>Web Applications</li>
                <li>Scalable, Elegant, Optimized Websites</li>
                <li>Social Media Features</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="large-12 medium-12 columns">
            <hr />
            <h5 class="header technologies">Technologies and Frameworks</h5>
            <div class="tech-container">
                <img class="tech-logo reactjs" title="ReactJS" src="/assets/img/react.png" alt="React"/>
                <img class="tech-logo angularjs" title="AngularJS" src="/assets/img/angularjs.png" alt="Angular"/>
                <img class="tech-logo nodejs" title="Node.js" src="/assets/img/nodejs.png" alt="Node"/>
                <img class="tech-logo javascript" title="JavaScript" src="/assets/img/javascript.png" alt="JavaScript"/>
                <img class="tech-logo php" title="PHP" src="/assets/img/php.png" alt="PHP"/>
                <img class="tech-logo laravel" title="Laravel" src="/assets/img/laravel.png" alt="Laravel"/>
                <img class="tech-logo mongodb" title="MongoDB" src="/assets/img/mongodb.png" alt="MongoDB"/>
                <img class="tech-logo mysql" title="MySQL" src="/assets/img/mysql.png" alt="MySQL"/>
                <img class="tech-logo foundation" title="Foundation CSS" src="/assets/img/yeti.svg" alt="Foundation CSS"/>
                <img class="tech-logo bootstrap" title="Twitter Bootstrap CSS" src="/assets/img/bootstrap.png" alt="Twitter Bootstrap CSS"/>
                <img class="tech-logo material-design" title="Material Design" src="/assets/img/material-design.svg" alt="Material Design"/>
                <img class="tech-logo shopify" title="Shopify" src="/assets/img/shopify.png" alt="Shopify"/>
                <img class="tech-logo wordpress" title="Wordpress" src="/assets/img/wordpress.png" alt="Wordpress"/>
            </div>
        </div>
    </div>
</div>
