<div class="row" style="padding-bottom: 20px;">
    <div class="large-4 medium-4 columns">
        <div class="panel">
            <h4>Product Management</h4>
            <p>It's customer first, then product.  To this point, we're committed to delivering great products that solve validated customer problems and provide optimum value to aligned company goals.  We enjoy the challenge of solving multi-dimensional problems, found where business, design and customer needs overlap.  By building a successful customer development model, then aligning product development, the decisions made on product strategy will be based on facts and evidence, not speculation.
            </p>
        </div>
    </div>
    <div class="large-4 medium-4 columns">
        <div class="panel">
            <h4>UX is Everything</h4>
            <p>A great design that has that “wow” factor makes products even more desirable and services more appealing to users.  To achieve an exemplary user experience and hit the “sweet spot” where business and customer needs overlap, the UX Design strategy must ensure that the user is at the center of our collective effort at all times.
            </p>
            <h4>Innovative</h4>
            <p>As experienced creators and innovators, we realize that exceptional products are built by great teams, not by the efforts of one person.  Inspiring product innovation in company-wide initiatives which leverage domain expertise and customer knowledge is truly exciting.  The best ideas can come from many different sources, including customers, designers, and developers.  We're always looking to "find out the right thing to move us forward" or "advance the cause."
            </p>
        </div>
    </div>
    <div class="large-4 medium-4 columns">
        <div class="panel">
            <h4>Agile and Lean</h4>
                <p>We embrace maximizing learning through incremental and iterative engineering.  The goal is to lead the team through a thought process that makes the right things happen as often as possible, and recovery from the wrong things taken in stride.  Every problem should be treated as an intellectual challenge that when solved together will make good things happen.  We believe in exploring problems before gathering requirements- iterating quickly with smaller experiments rather than creating large feature specs.  We're pragmatic, not dogmatic and believe in group facilitation over heroism.
                </p>
                <h4>Technical</h4>
                <p>Our technical expertise spans many software packages, technologies and frameworks; such as, CSS, HTML, JavaScript, PHP, SQL, Linux, Axure, Basalmiq, Illustrator, InDesign, Photoshop, Sketch and XMind.</p>
        </div>
    </div>
</div>