<div class="hero light">
    <div class="row">
        <div class="span12 columns">
            <h1 class="headline">Our goal is to provide a great design that has that “wow” factor, making products even more desirable and services more appealing to users.</h1>
            <h4 class="sub-headline">The best ideas can come from many different sources, including customers, designers, and developers.  We're always looking to "find out the right thing to move us forward" or "advance the cause."  We enjoy the challenge of solving multi-dimensional problems, found where business, design and customer needs overlap.</h4>
        </div>
    </div>
</div>

