<section id="portfolio" class="portfolio">
    <div class="hero light">
        <div class="row">
            <div class="span12 columns">
                <h1 class="headline">Featured Apples</h1>
                <h4 class="sub-headline">At Good Apple Media, we design and develop high-quality creative and technical solutions with clean modern aesthetics, using best practice principles.  Our passion is in delivering delightful user experiences.</h4>
            </div>
        </div>
        <div class="row items"> <!-- style="max-width: 57rem;" -->
            <div class="medium-3 columns">
                <div class="image-wrapper overlay-fade-in">
                    <img src="/assets/img/portfolio/PT1.png"/>
                    <div class="image-overlay-content">
                        <div class="block">
                            <div class="tech-logo-holder">
                                <img class="tech-logo angularjs" title="AngularJS" src="/assets/img/angularjs.png" alt="Angular">
                            </div>
                            <div class="centered">
                                <h2>OWL Vision<br/> Professional Tools</h2>
                            </div>
                        </div>
                        <a href="/portfolio/owl/owl-vision-professional-tools.html" class="button expanded">VIEW</a>
                    </div>
                </div>
            </div>
            <div class="medium-3 columns">
                <div class="image-wrapper overlay-fade-in">
                    <img src="/assets/img/portfolio/data-visualization.png"/>
                    <div class="image-overlay-content">
                        <div class="block">
                            <div class="tech-logo-holder">
                                <img class="tech-logo bootstrap" title="Twitter Bootstrap CSS" src="/assets/img/bootstrap.png" alt="Twitter Bootstrap CSS"/>
                            </div>
                            <div class="centered">
                                <h2>OWL Vision Maltego</h2>
                            </div>
                        </div>
                        <a href="/portfolio/owl/owl-vision-maltego.html" class="button expanded">VIEW</a>
                    </div>
                </div>
            </div>
            <div class="medium-3 columns">
                <div class="image-wrapper overlay-fade-in">
                    <img src="/assets/img/portfolio/CP1.png"/>
                    <div class="image-overlay-content">
                        <div class="block">
                            <div class="tech-logo-holder">
                                <img class="tech-logo material-design" title="Material Design" src="/assets/img/material-design.svg" alt="Material Design"/>
                            </div>
                            <div class="centered">
                                <h2>OWL Customer Portal</h2>
                            </div>
                        </div>
                        <a href="/portfolio/owl/owl-customer-portal.html" class="button expanded">VIEW</a>
                    </div>
                </div>
            </div>
            <div class="medium-3 columns">
                <div class="image-wrapper overlay-fade-in">
                    <img src="/assets/img/portfolio/WSJ1.png"/>
                    <div class="image-overlay-content">
                        <div class="block">
                            <div class="tech-logo-holder">
                                <img class="tech-logo angularjs" title="AngularJS" src="/assets/img/angularjs.png" alt="Angular">
                                <img class="tech-logo nodejs" title="Node.js" src="/assets/img/nodejs.png" alt="Node"/>
                                <img class="tech-logo foundation" title="Foundation CSS" src="/assets/img/yeti.svg" alt="Foundation CSS"/>
                            </div>
                            <div class="centered">
                                <h2>WSJ Subscription</h2>
                            </div>
                        </div>
                        <a href="/portfolio/isobar/isobar-wsj.html" class="button expanded">VIEW</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row items" style="margin-top: 1rem;"> <!-- style="max-width: 57rem;" -->
            <div class="medium-3 columns">
                <div class="image-wrapper overlay-fade-in">
                    <img src="/assets/img/portfolio/goodapplemedia/reactjs-material-design-demo.png"/>
                    <div class="image-overlay-content">
                        <div class="tech-logo-holder">
                            <img class="tech-logo reactjs" title="ReactJS" src="/assets/img/react.png" alt="React"/>
                            <img class="tech-logo nodejs" title="Node.js" src="/assets/img/nodejs.png" alt="Node"/>
                            <img class="tech-logo material-design" title="Material Design" src="/assets/img/material-design.svg" alt="Material Design"/>
                        </div>
                        <div class="block">
                            <div class="centered">
                                <h2>React / Material Design</h2>
                            </div>
                        </div>
                        <a href="/portfolio/goodapplemedia/reactjs-material-design-demo.html" class="button expanded">VIEW</a>
                    </div>
                </div>
            </div>
            <div class="medium-3 columns">
                <div class="image-wrapper overlay-fade-in">
                    <img src="/assets/img/portfolio/ELM1.png"/>
                    <div class="image-overlay-content">
                        <div class="tech-logo-holder">
                            <img class="tech-logo bootstrap" title="Twitter Bootstrap CSS" src="/assets/img/bootstrap.png" alt="Twitter Bootstrap CSS"/>
                        </div>
                        <div class="block">
                            <div class="centered">
                                <h2>ELM Exchange</h2>
                            </div>
                        </div>
                        <a href="/portfolio/elm-exchange/elm-exchange.html" class="button expanded">VIEW</a>
                    </div>
                </div>
            </div>
            <div class="medium-3 columns">
                <div class="image-wrapper overlay-fade-in">
                    <img src="/assets/img/portfolio/ML3.png"/>
                    <div class="image-overlay-content">
                        <div class="tech-logo-holder">
                            <img class="tech-logo angularjs" title="AngularJS" src="/assets/img/angularjs.png" alt="Angular"/>
                            <img class="tech-logo laravel" title="Laravel" src="/assets/img/laravel.png" alt="Laravel"/>
                            <img class="tech-logo mysql" title="MySQL" src="/assets/img/mysql.png" alt="MySQL"/>
                            <img class="tech-logo bootstrap" title="Twitter Bootstrap CSS" src="/assets/img/bootstrap.png" alt="Twitter Bootstrap CSS"/>
                        </div>
                        <div class="block">
                            <div class="centered">
                                <h2>Maximized Metabolix</h2>
                            </div>
                        </div>
                        <a href="/portfolio/maximized-metabolix/maximized-metabolix.html" class="button expanded">VIEW</a>
                    </div>
                </div>
            </div>
            <div class="medium-3 columns">
                <div class="image-wrapper overlay-fade-in">
                    <img src="/assets/img/portfolio/kia/KIA1.png"/>
                    <div class="image-overlay-content">
                        <div class="tech-logo-holder">
                            <img class="tech-logo javascript" title="JavaScript" src="/assets/img/javascript.png" alt="JavaScript"/>
                            <img class="tech-logo php" title="PHP" src="/assets/img/php.png" alt="PHP"/>
                            <img class="tech-logo mysql" title="MySQL" src="/assets/img/mysql.png" alt="MySQL"/>
                        </div>
                        <div class="block">
                            <div class="centered">
                                <h2>KIA Motors America</h2>
                            </div>
                        </div>
                        <a href="/portfolio/kia/kia-vehicle-comparison.html" class="button expanded">VIEW</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>