<section class="services">
    <div class="info">
        <h4 class="title">From Design To Development</h4>
        <p class="desc">We focus on building a successful customer development model, then aligning the product development strategy. Our commitment is to
            deliver exceptional products that solve validated customer problems and provide optimum value to aligned company goals.</p>

        <div class="row">
            <div class="large-3 medium-3 columns left">
                <h4 class="header">Lead</h4>
                <ul>
                    <li>Product Management</li>
                    <li>Customer Partnership</li>
                    <li>Ideation and Discovery</li>
                    <li>Team Collaboration</li>
                </ul>
            </div>
            <div class="large-3 medium-3 columns left">
                <h4 class="header">Innovate</h4>
                <ul>
                    <li>User-Centered Design Strategy</li>
                    <li>Incremental and Iterative Engineering</li>
                    <li>Agile Development Methodology</li>
                </ul>
            </div>
            <div class="large-3 medium-3 columns left">
                <h4 class="header">Design</h4>
                <ul>
                    <li>UI/UX Research</li>
                    <li>UI/UX Design</li>
                </ul>
            </div>
            <div class="large-3 medium-3 columns left">
                <h4 class="header">Develop</h4>
                <ul>
                    <li>Web Applications</li>
                    <li>Scalable, Elegant, Optimized Websites</li>
                    <li>Social Media Features</li>
                </ul>
            </div>
        </div>
    </div>
</section>