<div class="hero dark expandable owl-cybersecurity">
    <div class="row">
        <div class="span12 columns">
            <ul class="accordion" data-accordion data-multi-expand="true" data-allow-all-closed="true">
                <li class="accordion-item" data-accordion-item>
                    <a href="#" class="accordion-title">
                        <h1 class="headline">About OWL Cybersecurity</h1>
                    </a>
                    <div class="accordion-content" data-tab-content>
                        <img class="owl-logo" src="/assets/img/portfolio/owl/owl-logo.png"/>
                        <h4 class="sub-headline">OWL Cybersecurity provides both software and Risk Analysis services to companies to identify and mitigate high risk vulnerabilities or actual data breaches. Services provided include conducting risk assessments, forensics, architecture, code reviews and penetration testing.</h4>
                        <h1 class="headline">The OWL Vision Platform</h1>
                        <h4 class="sub-headline">The OWL Vision platform provides tools and services to efficiently uncover leaked or otherwise compromised sensitive data on the internet and beyond. OWL has developed a proprietary database of content gathered from TOR sites, IRC channels and Hacker Forums which contains leaked credentials; such as, email, passwords, credit card information and personal identification numbers.  The OWL Vision Professional Tools product provides customers the ability to perform and manage targeted searches using predefined queries, filters, logic, search operators, proximity and wildcards.</h4>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<!--<div class="hero expandable owl-vision-platform" style="background: rgb(221, 221, 221)">-->
    <!--<div class="row">-->
        <!--<div class="span12 columns">-->
            <!--<ul class="accordion" data-accordion data-multi-expand="true" data-allow-all-closed="true">-->
                <!--<li class="accordion-item" data-accordion-item>-->
                    <!--<a href="#" class="accordion-title">-->
                        <!--<h1 class="headline">The OWL Vision Platform</h1>-->
                    <!--</a>-->
                    <!--<div class="accordion-content" data-tab-content>-->
                        <!--<h4 class="sub-headline">The OWL Vision platform provides tools and services to efficiently uncover leaked or otherwise compromised sensitive data on the internet and beyond. OWL has developed a proprietary database of content gathered from TOR sites, IRC channels and Hacker Forums which contains leaked credentials; such as, email, passwords, credit card information and personal identification numbers.  The OWL Vision Professional Tools product provides customers the ability to perform and manage targeted searches using predefined queries, filters, logic, search operators, proximity and wildcards.</h4>-->
                    <!--</div>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->