<section class="sectionA">
    <div class="billboard dark">
        <div class="billboard-header">
            <h3 class="headline">Lorem ipsum dolor sit amet<br/>
                <strong>consectetur adipiscing elit</strong>
            </h3>
            <p>Billboard Dark, a laoreet purus. Morbi porta tincidunt faucibus. Vivamus tempus vel felis in condimentum. Curabitur eget sodales justo, quis fringilla dui. Nullam nec imperdiet leo. Sed pharetra eros eget leo congue, at gravida felis finibus.</p>
        </div>
    </div>
    <div class="row">
        <div class="span12 columns">
            <div class="hero">
                <h1 class="headline">Hero Ut commodo dapibus pretium. Vestibulum eu erat lacus. Nullam convallis, elit at commodo sollicitudin, nunc augue placerat nisl, ac porttitor lacus orci et sem.</h1>
                <h4 class="sub-headline">Aenean rhoncus interdum risus, nec placerat dolor consequat sed. Aenean ut massa blandit, convallis lectus sit amet, mollis libero. Phasellus vel nibh bibendum, tincidunt nibh sit amet, tempus nulla. Quisque sit amet leo vel nulla sodales dignissim. Mauris tempus odio in nulla pretium gravida. Aenean porttitor orci nulla, nec porttitor libero posuere sed.  Mauris nec lacus eu felis blandit elementum. Donec finibus ultrices mi sit amet mattis.</h4>
            </div>
        </div>
    </div>
</section>