<section class="sectionB">
    <div class="billboard light">
        <div class="billboard-header">
            <h3 class="headline">Billboard Light Lorem ipsum dolort<br/>
                <strong>consectetur adipiscing elit</strong>
            </h3>
            <p>Nullam ut auctor neque, a laoreet purus. Morbi porta tincidunt faucibus. Vivamus tempus vel felis in condimentum. Curabitur eget sodales justo, quis fringilla dui. Nullam nec imperdiet leo. Sed pharetra eros eget leo congue, at gravida felis finibus.</p>
        </div>
    </div>
    <div class="hero dark">
        <div class="row">
            <div class="span12 columns">
                <h1 class="headline">Hero Dark Mauris et mollis quam, ac varius sem. Pellentesque rutrum volutpat odio, vitae dignissim leo laoreet at.</h1>
                <h4 class="sub-headline">Mauris sed odio dictum, imperdiet leo ut, semper ex. Vestibulum imperdiet felis vel tortor posuere, non ultrices elit tempus. Aliquam tincidunt ante ipsum, in hendrerit risus pulvinar vitae. Curabitur et nisi nec eros finibus tempus nec eget urna. Aliquam non auctor nisi, vitae imperdiet nisi. Proin fringilla vitae eros nec lacinia.</h4>
            </div>
        </div>
    </div>
    <div class="hero light">
        <div class="row">
            <div class="span12 columns">
                <h1 class="headline">Hero Light Mauris et mollis quam, ac varius sem. Pellentesque rutrum volutpat odio, vitae dignissim leo laoreet at.</h1>
                <h4 class="sub-headline">Mauris sed odio dictum, imperdiet leo ut, semper ex. Vestibulum imperdiet felis vel tortor posuere, non ultrices elit tempus. Aliquam tincidunt ante ipsum, in hendrerit risus pulvinar vitae. Curabitur et nisi nec eros finibus tempus nec eget urna. Aliquam non auctor nisi, vitae imperdiet nisi. Proin fringilla vitae eros nec lacinia.</h4>
            </div>
        </div>
    </div>
</section>