/*
.button.shading.bg-orange, .button.shading.gform_button {
  -webkit-transition: color .4s,padding-left .55s,padding-right .55s,background 1s;
  -o-transition: color .4s,padding-left .55s,padding-right .55s,background 1s;
  transition: color .4s,padding-left .55s,padding-right .55s,background 1s;
  position: relative;
  z-index: 1;
  background-color: rgba(219,87,38,.25);
  padding-left: 50px;
  padding-right: 74px;
  border: none;
}
.site-header .header-lets-build-button {
  display: inline-block;
}
.button.shading {
  -webkit-transition: color .4s,padding-left .55s,padding-right .55s,background 1s;
  -o-transition: color .4s,padding-left .55s,padding-right .55s,background 1s;
  transition: color .4s,padding-left .55s,padding-right .55s,background 1s;
  position: relative;
  z-index: 1;
  background-color: rgba(84,177,78,.25);
  padding-left: 50px;
  padding-right: 74px;
  border: none;
}
.button.bg-orange, .button.gform_button {
  background-color: rgba(219,87,38,.8);
  border: #db5726 1px solid;
}
.button.v-slim {
  padding-top: 16px;
  padding-bottom: 12px;
}
.button {
  -webkit-transition: background-color .3s ease-in-out;
  -o-transition: background-color .3s ease-in-out;
  transition: background-color .3s ease-in-out;
  display: inline-block;
  padding: 24px 50px 20px;
  margin: 0;
  background-color: rgba(84,177,78,.8);
  border: #54b14e 1px solid;
  //font-family: MuseoSans-700;
  text-transform: uppercase;
  color: #fff;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.author-info p:last-child, .author-links, .blog-meta .intro-text, .blog-meta.center, .build-form.ghost .button.gform_button, .button, .button.ghost.regular-size, .condensed-blog-feed, .cta-block, .expand-container, .post-header .intro-text, .slider-nav-item, .text-sm, .timezone-label, .timezone-tabs-item {
  font-size: 14px;
}

.button.shading.bg-orange:after, .button.shading.bg-orange:before, .button.shading.gform_button:after, .button.shading.gform_button:before {
  -webkit-transition: all .25s cubic-bezier(.52,0,.08,1) 50ms;
  -o-transition: all .25s cubic-bezier(.52,0,.08,1) 50ms;
  transition: all .25s cubic-bezier(.52,0,.08,1) 50ms;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  width: calc(100% - 24px);
  height: 100%;
  background-color: #db5726;
}
.button.shading:after, .button.shading:before {
  -webkit-transition: all .25s cubic-bezier(.52,0,.08,1) 50ms;
  -o-transition: all .25s cubic-bezier(.52,0,.08,1) 50ms;
  transition: all .25s cubic-bezier(.52,0,.08,1) 50ms;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  width: calc(100% - 24px);
  height: 100%;
  background-color: #54b14e;
}
:after, :before {
  box-sizing: border-box;
}

.button.shading.bg-orange:after, .button.shading.gform_button:after {
  -webkit-transition: all .15s cubic-bezier(.82,0,.28,1) 0s;
  -o-transition: all .15s cubic-bezier(.82,0,.28,1) 0s;
  transition: all .15s cubic-bezier(.82,0,.28,1) 0s;
  z-index: -1;
  width: calc(100% - 12px);
  background-color: rgba(219,87,38,.5);
}
.button.shading.bg-orange:after, .button.shading.bg-orange:before, .button.shading.gform_button:after, .button.shading.gform_button:before {
  -webkit-transition: all .25s cubic-bezier(.52,0,.08,1) 50ms;
  -o-transition: all .25s cubic-bezier(.52,0,.08,1) 50ms;
  transition: all .25s cubic-bezier(.52,0,.08,1) 50ms;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  width: calc(100% - 24px);
  height: 100%;
  background-color: #db5726;
}
.button.shading:after {
  -webkit-transition: all .15s cubic-bezier(.82,0,.28,1) 0s;
  -o-transition: all .15s cubic-bezier(.82,0,.28,1) 0s;
  transition: all .15s cubic-bezier(.82,0,.28,1) 0s;
  z-index: -1;
  width: calc(100% - 12px);
  background-color: rgba(84,177,78,.5);
}
.button.shading:after, .button.shading:before {
  -webkit-transition: all .25s cubic-bezier(.52,0,.08,1) 50ms;
  -o-transition: all .25s cubic-bezier(.52,0,.08,1) 50ms;
  transition: all .25s cubic-bezier(.52,0,.08,1) 50ms;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  width: calc(100% - 24px);
  height: 100%;
  background-color: #54b14e;
}

:after, :before {
  box-sizing: border-box;
}

::selection {
  background-color: #54b14e;
  color: #fff;
}

.button.shading.bg-orange:focus, .button.shading.bg-orange:hover, .button.shading.gform_button:focus, .button.shading.gform_button:hover {
  padding-left: 74px;
  padding-right: 50px;
  color: #bb4013;
  background-color: rgba(232,81,25,.25);
}
.button.shading.bg-orange, .button.shading.gform_button {
  -webkit-transition: color .4s,padding-left .55s,padding-right .55s,background 1s;
  -o-transition: color .4s,padding-left .55s,padding-right .55s,background 1s;
  transition: color .4s,padding-left .55s,padding-right .55s,background 1s;
  position: relative;
  z-index: 1;
  background-color: rgba(219,87,38,.25);
  padding-left: 50px;
  padding-right: 74px;
  border: none;
}
.button.shading:focus, .button.shading:hover {
  padding-left: 74px;
  padding-right: 50px;
  color: #3a9834;
  background-color: rgba(73,190,65,.25);
}
.button.bg-orange:focus, .button.bg-orange:hover, .button.gform_button:focus, .button.gform_button:hover {
  background-color: #bb4013;
}
.site-header .header-lets-build-button {
  display: inline-block;
}
.button.shading {
  -webkit-transition: color .4s,padding-left .55s,padding-right .55s,background 1s;
  -o-transition: color .4s,padding-left .55s,padding-right .55s,background 1s;
  transition: color .4s,padding-left .55s,padding-right .55s,background 1s;
  position: relative;
  z-index: 1;
  background-color: rgba(84,177,78,.25);
  padding-left: 50px;
  padding-right: 74px;
  border: none;
}
.button.bg-orange, .button.gform_button {
  background-color: rgba(219,87,38,.8);
  border: #db5726 1px solid;
}
.button.v-slim {
  padding-top: 16px;
  padding-bottom: 12px;
}
.button:focus, .button:hover {
  outline: 0;
  text-decoration: none;
  cursor: pointer;
  background-color: #3a9834;
}
a:hover {
  color: #333;
  text-decoration: underline;
}
a:focus, a:hover {
  color: #19703e;
  text-decoration: underline;
}
a:active, a:hover {
  outline: 0;
}
.button {
  -webkit-transition: background-color .3s ease-in-out;
  -o-transition: background-color .3s ease-in-out;
  transition: background-color .3s ease-in-out;
  display: inline-block;
  padding: 24px 50px 20px;
  margin: 0;
  background-color: rgba(84,177,78,.8);
  border: #54b14e 1px solid;
  font-family: MuseoSans-700;
  text-transform: uppercase;
  color: #fff;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.author-info p:last-child, .author-links, .blog-meta .intro-text, .blog-meta.center, .build-form.ghost .button.gform_button, .button, .button.ghost.regular-size, .condensed-blog-feed, .cta-block, .expand-container, .post-header .intro-text, .slider-nav-item, .text-sm, .timezone-label, .timezone-tabs-item {
  font-size: 14px;
}
a {
  color: #54b14e;
}
a {
  color: #27ae60;
  text-decoration: none;
}
a {
  background-color: transparent;
}
* {
  box-sizing: border-box;
}

.button.shading.bg-orange:focus:before, .button.shading.bg-orange:hover:before, .button.shading.gform_button:focus:before, .button.shading.gform_button:hover:before {
  -webkit-transition: all .4s cubic-bezier(.82,0,.28,1) 0s;
  -o-transition: all .4s cubic-bezier(.82,0,.28,1) 0s;
  transition: all .4s cubic-bezier(.82,0,.28,1) 0s;
  width: 12px;
  background-color: #e85119;
}
.button.shading.bg-orange:after, .button.shading.bg-orange:before, .button.shading.gform_button:after, .button.shading.gform_button:before {
  -webkit-transition: all .25s cubic-bezier(.52,0,.08,1) 50ms;
  -o-transition: all .25s cubic-bezier(.52,0,.08,1) 50ms;
  transition: all .25s cubic-bezier(.52,0,.08,1) 50ms;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  width: calc(100% - 24px);
  height: 100%;
  background-color: #db5726;
}
.button.shading:focus:before, .button.shading:hover:before {
  -webkit-transition: all .4s cubic-bezier(.82,0,.28,1) 0s;
  -o-transition: all .4s cubic-bezier(.82,0,.28,1) 0s;
  transition: all .4s cubic-bezier(.82,0,.28,1) 0s;
  width: 12px;
  background-color: #49be41;
}
.button.shading:after, .button.shading:before {
  -webkit-transition: all .25s cubic-bezier(.52,0,.08,1) 50ms;
  -o-transition: all .25s cubic-bezier(.52,0,.08,1) 50ms;
  transition: all .25s cubic-bezier(.52,0,.08,1) 50ms;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  width: calc(100% - 24px);
  height: 100%;
  background-color: #54b14e;
}
:after, :before {
  box-sizing: border-box;
}

.button.shading.bg-orange:focus:after, .button.shading.bg-orange:hover:after, .button.shading.gform_button:focus:after, .button.shading.gform_button:hover:after {
  -webkit-transition: all .7s cubic-bezier(.52,0,.08,1) 50ms;
  -o-transition: all .7s cubic-bezier(.52,0,.08,1) 50ms;
  transition: all .7s cubic-bezier(.52,0,.08,1) 50ms;
  width: 24px;
  background-color: rgba(232,81,25,.5);
}
.button.shading.bg-orange:after, .button.shading.gform_button:after {
  -webkit-transition: all .15s cubic-bezier(.82,0,.28,1) 0s;
  -o-transition: all .15s cubic-bezier(.82,0,.28,1) 0s;
  transition: all .15s cubic-bezier(.82,0,.28,1) 0s;
  z-index: -1;
  width: calc(100% - 12px);
  background-color: rgba(219,87,38,.5);
}
.button.shading.bg-orange:after, .button.shading.bg-orange:before, .button.shading.gform_button:after, .button.shading.gform_button:before {
  -webkit-transition: all .25s cubic-bezier(.52,0,.08,1) 50ms;
  -o-transition: all .25s cubic-bezier(.52,0,.08,1) 50ms;
  transition: all .25s cubic-bezier(.52,0,.08,1) 50ms;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  width: calc(100% - 24px);
  height: 100%;
  background-color: #db5726;
}
.button.shading:focus:after, .button.shading:hover:after {
  -webkit-transition: all .7s cubic-bezier(.52,0,.08,1) 50ms;
  -o-transition: all .7s cubic-bezier(.52,0,.08,1) 50ms;
  transition: all .7s cubic-bezier(.52,0,.08,1) 50ms;
  width: 24px;
  background-color: rgba(73,190,65,.5);
}
.button.shading:after {
  -webkit-transition: all .15s cubic-bezier(.82,0,.28,1) 0s;
  -o-transition: all .15s cubic-bezier(.82,0,.28,1) 0s;
  transition: all .15s cubic-bezier(.82,0,.28,1) 0s;
  z-index: -1;
  width: calc(100% - 12px);
  background-color: rgba(84,177,78,.5);
}
.button.shading:after, .button.shading:before {
  -webkit-transition: all .25s cubic-bezier(.52,0,.08,1) 50ms;
  -o-transition: all .25s cubic-bezier(.52,0,.08,1) 50ms;
  transition: all .25s cubic-bezier(.52,0,.08,1) 50ms;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  width: calc(100% - 24px);
  height: 100%;
  background-color: #54b14e;
}

:after, :before {
  box-sizing: border-box;
}

::selection {
  background-color: #54b14e;
  color: #fff;
}
*/
/****/

//.vertical-center {
//  position: relative;
//  top: 50%;
//  -webkit-transform: translateY(-50%);
//  -o-transform: translateY(-50%);
//  transform: translateY(-50%);
//}
//
//.button.shading {
//  -webkit-transition: color .4s,padding-left .55s,padding-right .55s,background 1s;
//  -o-transition: color .4s,padding-left .55s,padding-right .55s,background 1s;
//  transition: color .4s,padding-left .55s,padding-right .55s,background 1s;
//  position: relative;
//  z-index: 1;
//  background-color: rgba(84,177,78,.25);
//  padding-left: 50px;
//  padding-right: 74px;
//  border: none;
//}
//
//.button.shading.bg-orange, .button.shading.gform_button {
//  -webkit-transition: color .4s,padding-left .55s,padding-right .55s,background 1s;
//  -o-transition: color .4s,padding-left .55s,padding-right .55s,background 1s;
//  transition: color .4s,padding-left .55s,padding-right .55s,background 1s;
//  position: relative;
//  z-index: 1;
//  background-color: rgba(219,87,38,.25);
//  padding-left: 50px;
//  padding-right: 74px;
//  border: none;
//}
//
//.button.bg-orange, .button.gform_button {
//  background-color: rgba(219,87,38,.8);
//  border: #db5726 1px solid;
//}
//
//.button.h-slim {
//  padding-right: 20px;
//  padding-left: 20px;
//}
//
//.button.v-slim {
//  padding-top: 16px;
//  padding-bottom: 12px;
//}
//
//.button {
//  -webkit-transition: background-color .3s ease-in-out;
//  -o-transition: background-color .3s ease-in-out;
//  transition: background-color .3s ease-in-out;
//  display: inline-block;
//  padding: 24px 50px 20px;
//  margin: 0;
//  background-color: rgba(84,177,78,.8);
//  border: #54b14e 1px solid;
//  //font-family: MuseoSans-700;
//  text-transform: uppercase;
//  color: #fff;
//  -webkit-touch-callout: none;
//  -webkit-user-select: none;
//  -khtml-user-select: none;
//  -moz-user-select: none;
//  -ms-user-select: none;
//  user-select: none;
//}
//
//.button.shading:before {
//  -webkit-transition: all .25s cubic-bezier(.52,0,.08,1) 50ms;
//  -o-transition: all .25s cubic-bezier(.52,0,.08,1) 50ms;
//  transition: all .25s cubic-bezier(.52,0,.08,1) 50ms;
//  content: '';
//  position: absolute;
//  top: 0;
//  left: 0;
//  z-index: -2;
//  width: calc(100% - 24px);
//  height: 100%;
//  background-color: #54b14e;
//}
//
//.button.shading.bg-orange:before {
//  -webkit-transition: all .25s cubic-bezier(.52,0,.08,1) 50ms;
//  -o-transition: all .25s cubic-bezier(.52,0,.08,1) 50ms;
//  transition: all .25s cubic-bezier(.52,0,.08,1) 50ms;
//  content: '';
//  position: absolute;
//  top: 0;
//  left: 0;
//  z-index: -2;
//  width: calc(100% - 24px);
//  height: 100%;
//  background-color: #db5726;
//}
//
//
//.button.shading.bg-orange:after {
//  -webkit-transition: all .15s cubic-bezier(.82,0,.28,1) 0s;
//  -o-transition: all .15s cubic-bezier(.82,0,.28,1) 0s;
//  transition: all .15s cubic-bezier(.82,0,.28,1) 0s;
//  z-index: -1;
//  width: calc(100% - 12px);
//  background-color: rgba(219,87,38,.5);
//}
//.button.shading.bg-orange:after, .button.shading.bg-orange:before {
//  -webkit-transition: all .25s cubic-bezier(.52,0,.08,1) 50ms;
//  -o-transition: all .25s cubic-bezier(.52,0,.08,1) 50ms;
//  transition: all .25s cubic-bezier(.52,0,.08,1) 50ms;
//  content: '';
//  position: absolute;
//  top: 0;
//  left: 0;
//  z-index: -2;
//  width: calc(100% - 24px);
//  height: 100%;
//  background-color: #db5726;
//}
//.button.shading:after {
//  -webkit-transition: all .15s cubic-bezier(.82,0,.28,1) 0s;
//  -o-transition: all .15s cubic-bezier(.82,0,.28,1) 0s;
//  transition: all .15s cubic-bezier(.82,0,.28,1) 0s;
//  z-index: -1;
//  width: calc(100% - 12px);
//  background-color: rgba(84,177,78,.5);
//}
//.button.shading:after, .button.shading:before {
//  -webkit-transition: all .25s cubic-bezier(.52,0,.08,1) 50ms;
//  -o-transition: all .25s cubic-bezier(.52,0,.08,1) 50ms;
//  transition: all .25s cubic-bezier(.52,0,.08,1) 50ms;
//  content: '';
//  position: absolute;
//  top: 0;
//  left: 0;
//  z-index: -2;
//  width: calc(100% - 24px);
//  height: 100%;
//  background-color: #54b14e;
//}
//:after, :before {
//  box-sizing: border-box;
//}
//
//.button.shading:focus, .button.shading:hover {
//  padding-left: 74px;
//  padding-right: 50px;
//  color: #3a9834;
//  background-color: rgba(73,190,65,.25);
//}
//
//.header-lets-build-button {
//  display: inline-block;
//}
//
//.button {
//  font-size: 14px;
//}


/* Small only */
@media screen and (max-width: 39.9375em) {}

/* Medium and up */
@media screen and (min-width: 40em) {
  main {
    padding-top: 101px;
  }
}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up */
@media screen and (min-width: 64em) {}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {}