<div class="contact">

    <div class="row">
        <div class="large-6 medium-6 columns">
            <a href="tel:+13034205190">
                <div class="phone">
                    <div class="icon-wrapper">
                        <i class="font-icon-phone"></i>
                    </div>
                    <div class="phone-number">303.420.5190</div>
                </div>
            </a>
        </div>
        <div class="large-6 medium-6 columns">
            <a href="mailto:andyfrith.goodapplemedia.com@gmail.com">
                <div class="email">
                    <div class="icon-wrapper">
                        <i class="font-icon-email"></i>
                    </div>
                    <div class="email-address">andyfrith.goodapplemedia.com@gmail.com</div>
                </div>
            </a>
        </div>

        <!--<div class="large-6 medium-6 columns">-->
            <!--<div style="display: inline;"><i class="font-icon-phone" style="font-size: 18px; padding-right: 10px;"></i></div>-->
            <!--<div style="display: inline; position: absolute; line-height: 22px;">303.420.5190</div>-->
        <!--</div>-->
        <!--<div class="large-6 medium-6 columns">-->
            <!--<div style="display: inline;">-->
                <!--<i class="font-icon-email" style="font-size: 18px; padding-right: 10px;"></i>-->
            <!--</div>-->
            <!--<div style="display: inline; position: absolute; line-height: 22px;">andyfrith.goodapplemedia.com@gmail.com</div>-->
        <!--</div>-->

        <!--<div class="large-4 medium-4 columns">-->
            <!--18560 W. 84th Pl. Arvada, CO 80007-->
        <!--</div>-->
    </div>
</div>