<header class="site-header">
    <!-- Small Navigation -->
    <div class="title-bar" data-responsive-toggle="nav-menu" data-hide-for="medium" style="display: none;">
        <div class="logo logo-small show-for-small-only">
            <a id="goUp" href="index.html" title="Good Apple Media">Good Apple Media</a>
        </div>
        <!--<a class="logo-small show-for-small-only" href="#"><img src="http://placehold.it/50x50?text=LOGO" /></a>-->
        <button class="menu-icon" type="button" data-toggle></button>
        <!--<div class="title-bar-title">Menu</div>-->
    </div>

    <!-- Medium-Up Navigation -->
    <nav class="top-bar" id="nav-menu">
        <div class="logo-wrapper hide-for-small-only">
            <a href="/index.html">
                <div class="logo"></div>
            </a>
        </div>

        <!-- Left Nav Section -->
        <div class="top-bar-left">
            <ul class="vertical medium-horizontal menu">
                <li class=""><a href="/index.html">Home</a></li>
                <li class=""><a href="/services.html">Services</a></li>
                <!--<li class=""><a href="/about.html">About</a></li>-->
                <!--<li class=""><a href="/template.html">Template</a></li>-->
                <li class=""><a href="#portfolio">Portfolio</a></li>
                <!--<li class=""><a href="#design">Resources</a></li>-->
                <!--<li class=""><a href="#development">About</a></li>-->
            </ul>
        </div>

        <div class="top-bar-right" style="position: relative; padding-right: 1rem;">
            <ul class="vertical medium-horizontal menu">
                <li class=""><a href="mailto:andyfrith@goodapplemedia.com" style="font-style: italic; text-transform: Capitalize;">Need UI/UX Development?</a></li>
                <li><button class="button pulse-button"><a style="color: white; line-height: inherit; padding: 0;" href="mailto:andyfrith@goodapplemedia.com">Hire Me!</a></button></li>
            </ul>
            <!--<a href="#" class="button shading bg-green hvr-sweep-to-left lets-get-going-button">Let's Get Going!</a>-->
            <!--<span class="question">Have a UX need?</span>-->
            <!--<a href="#" class="button">Hire Me!</a> &lt;!&ndash; shading bg-orange v-slim header-lets-build-button &ndash;&gt;-->
        </div>

        <!-- Right Nav Section -->
        <!--<div class="top-bar-right">-->
            <!--<ul class="vertical medium-horizontal menu" data-responsive-menu="drilldown medium-dropdown">-->
            <!--<li class="has-submenu">-->
                <!--<a href="#">Menu 4</a>-->
                <!--<ul class="submenu menu vertical medium-horizontal" data-submenu>-->
                <!--<li><a href="#">First link in dropdown</a></li>-->
                <!--</ul>-->
            <!--</li>-->
            <!--<li class="has-submenu">-->
                <!--<a href="#">Menu 5</a>-->
                <!--<ul class="submenu menu vertical" data-submenu>-->
                <!--<li><a href="#">First link in dropdown</a></li>-->
                <!--</ul>-->
            <!--</li>-->
            <!--</ul>-->
        <!--</div>-->
    </nav>
</header>