<div class="hero dark expandable goodapplemedia">
    <div class="row">
        <div class="span12 columns">
            <ul class="accordion" data-accordion data-multi-expand="true" data-allow-all-closed="true">
                <li class="accordion-item" data-accordion-item>
                    <a href="#" class="accordion-title">
                        <h1 class="headline">Inside The Demo</h1>
                    </a>
                    <div class="accordion-content" data-tab-content>
                        <img style="width: 75px;" src="/assets/img/react.png"/>
                        <h4 class="sub-headline">React is a JavaScript library for building user interfaces created by Facebook.  It was designed to create interactive UIs which efficiently update and render based on data changes.  React can be used in conjunction with a myriad of additional UI technologies.  Additionally, it can even be rendered on the server using Node and power mobile apps using React Native.</h4>
                    </div>
                    <div class="accordion-content" data-tab-content>
                        <img style="width: 75px;" src="/assets/img/nodejs.png"/>
                        <h4 class="sub-headline">Node.js® is a JavaScript runtime built on Chrome's V8 JavaScript engine. Node.js uses an event-driven, non-blocking I/O model that makes it lightweight and efficient.  As an asynchronous event driven JavaScript runtime, Node is designed to build scalable network applications. </h4>
                    </div>
                    <div class="accordion-content" data-tab-content>
                        <img style="width: 75px;" src="/assets/img/material-design.svg"/>
                        <h4 class="sub-headline">Material Design is a single underlying system that allows for a unified experience across platforms and device sizes. Mobile precepts are fundamental, but touch, voice, mouse, and keyboard are all ﬁrst-class input methods.</h4>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<!--<div class="hero expandable owl-vision-platform" style="background: rgb(221, 221, 221)">-->
    <!--<div class="row">-->
        <!--<div class="span12 columns">-->
            <!--<ul class="accordion" data-accordion data-multi-expand="true" data-allow-all-closed="true">-->
                <!--<li class="accordion-item" data-accordion-item>-->
                    <!--<a href="#" class="accordion-title">-->
                        <!--<h1 class="headline">The OWL Vision Platform</h1>-->
                    <!--</a>-->
                    <!--<div class="accordion-content" data-tab-content>-->
                        <!--<h4 class="sub-headline">The OWL Vision platform provides tools and services to efficiently uncover leaked or otherwise compromised sensitive data on the internet and beyond. OWL has developed a proprietary database of content gathered from TOR sites, IRC channels and Hacker Forums which contains leaked credentials; such as, email, passwords, credit card information and personal identification numbers.  The OWL Vision Professional Tools product provides customers the ability to perform and manage targeted searches using predefined queries, filters, logic, search operators, proximity and wildcards.</h4>-->
                    <!--</div>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->